div(class='navbar navbar-inverse', role='navigation')
  div(class='navbar-header')
    img(src="/favicon.ico", class='navbar-brand')
    button(type='button', class='navbar-toggle', data-toggle='collapse', data-target='#my-navbar-collapse')
      span.sr-only Toggle Nav
      span.icon-bar
      span.icon-bar
      span.icon-bar

  div#my-navbar-collapse(class='collapse navbar-collapse')
    ul.nav.navbar-nav
      li#navbar-home-link
        a(href='/') Home
      li#navbar-about-link
        a(href="/about") About
      li#navbar-contact-link
        a(href="/contact") Contact
      li#navbar-vids-link
        a(href="/videos") Videos
      li.dropdown
        a.dropdown-toggle#dropdownMaps(
          role='button'
          data-toggle='dropdown'
          aria-haspopup='true'
          aria-expanded='false'
          onclick='removeActiveOnDropdown()') Maps
          span.caret
        ul.dropdown-menu(aria-labelledby='dropdownMaps')
          li#navbar-viewer-link
            a(href="/viewer") Map Viewer
          li#navbar-controller-link
            a(href="/controller") Map Controller
    ul.nav.navbar-nav.navbar-right
      li
        audio#sayin-1(src='/snd/namsayin/ns1.wav')
        audio#sayin-2(src='/snd/namsayin/ns2.wav')
        audio#sayin-3(src='/snd/namsayin/ns3.wav')
        audio#sayin-4(src='/snd/namsayin/ns4.wav')
        a(href='#', onclick='playRandSayin()') namsayin? &nbsp
